<!doctype html>
<body>
  <h1>This is the search page</h1>
  <form method="POST" action="/scramble">
    <input type="text" name="longitude" placeholder="Type a word to unscramble" value="<%= params[:longitude] %>">
    <button>Go!</button>
  </form>

  <% if results %>
    <ul>
      <% results.each do |result| %>
        <li><%= result %></li>
      <% end %>
    </ul>
  <% end %>
</body>
